---
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import Card from "@components/Card";
import { SITE } from "@config";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<"project">[];
}

const { currentPage, totalPages, paginatedPosts } = Astro.props;
---

<Layout title={`Projetos | ${SITE.title}`}>
  <Header activeNav="projects" />
  <Main pageTitle="Projetos" pageDesc="veja os principais projetos.">
    <ul>
      {
        paginatedPosts.map(({ data, slug }) => (
          <Card href={`/projects/${slug}`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/projects${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}`}
    nextUrl={`/projects/${currentPage + 1}`}
  />

  <Footer noMarginTop={totalPages > 1} />
</Layout>
